/** this is a quick reset - remove default browser styles */
* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body { 
    margin: auto;
	border: 0;
	background-image:url(../images/bg_final.jpg);
    width: 1000px;
    background-position:top;
	background-repeat:no-repeat;
    background-attachment: fixed;
	background-color: #0d1136;
	color:#FFF;
	font-family: 'Luckiest Guy', sans-serif;
    font-size: 16px; 
}

audio { display: block; }

.hidden { display: none; }

.svg-grid {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr 1fr);
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: auto;
    grid-gap: 20px;
}

.container img { width: 100%; 
    filter:drop-shadow(-25px 25px 25px rgba(26,58,70,0.7));
}

.container img:hover {
    filter:blur(2px);;
}

#dmmlogo :hover #dimsum {
    fill: rgb(255, 111, 0) !important;
}

#logo_header {
    width: 150px;
    margin: 25px;
    margin-left: 25px;
}

#dimsumbg img { 
    width: 150px;
}

.two-items {
    display: grid;
    grid-column: 1 / span 1;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    row-gap: .5em;
    column-gap: 650px;
    margin-left: 25px;
}

.track-ref { cursor: pointer; }

#game-boards {
	width: 100%;

}

.table {
    display: grid;
}

.puzzle-board {
	margin-bottom: 0px;
	height: 150px;
	background-color: transparent;
	color: inherit;
	text-align:center;
    width: 1000px;
    display: inline-flex;
}

.puzzle-image {
	width: 40%;
	display: block;
	cursor: pointer;
}




.drop-zone {
	width: 100%;
    height: 100%;
    /*border: thin dashed white;*/
	position: relative;
}

.drop-zone img {
	width: 80% !important;
	float: none;

}

.text {
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 10px;
  }

@keyframes wobble {
    0% {transform: translateX(0%);}
    15% {transform: translateX(-25%) rotate(-10deg);}
    30% {transform: translateX(20%) rotate(10deg);}
    45% {transform: translateX(-15%) rotate(-5deg);}
    60% {transform: translateX(15%) rotate(5deg);}
    100% {transform: translateX(0) rotate(0deg);}
  }
  
  .wobble {
    animation-name: wobble;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;
  }



